<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>后勤服务报修系统</title>
    <link rel="stylesheet" href="../weui-master/dist/style/weui.min.css"/>
    <link rel="stylesheet" href="../weui-master/dist/example/example.css"/>
    <link rel="stylesheet" href="../jquery-weui-build/dist/css/jquery-weui.css"/>

    <!--link rel="stylesheet" href="../jquery-weui-build/demos/css/demos.css"/-->

    <link rel="stylesheet" href="./css/stylesheet.css"/>
    <script type="text/javascript" src="../easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../jquery-weui-build/dist/js/jquery-weui.min.js"></script>
    <script type="text/javascript" src="AppForm.js"></script>
    <script type="text/javascript" src="GetUserInfo.js"></script>

</head>
<body ontouchstart onload="">
    <header class="">
        <h1 class="mainpage-title">填报表单</h1>
    </header>


    <div class="weui-cells__title">请描述需要维修物品和物品地点</div>
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <textarea class="weui-textarea" placeholder="请输入文本" rows="3" onkeyup="wordStat(this);" maxlength="200"></textarea>
                <div class="weui-textarea-counter"><span id="cnt">0</span>/200</div>
            </div>
        </div>
    </div>

    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <div class="weui-uploader">
                    <div class="weui-uploader__hd">
                        <p class="weui-uploader__title">图片上传</p>
                        <div class="weui-uploader__info"><span id="imgcnt">0</span>/2</div>
                    </div>
                    <div class="weui-uploader__bd">
                        <ul class="weui-uploader__files" id="uploaderFiles">
                            <!--li class="weui-uploader__file" style="background-image:url(./images/pic_160.png)"></li>
                            <li class="weui-uploader__file" style="background-image:url(./images/pic_160.png)"></li>
                            <li class="weui-uploader__file" style="background-image:url(./images/pic_160.png)"></li>
                            <li class="weui-uploader__file weui-uploader__file_status" style="background-image:url(./images/pic_160.png)">
                                <div class="weui-uploader__file-content">
                                    <i class="weui-icon-warn"></i>
                                </div>
                            </li>
                            <li class="weui-uploader__file weui-uploader__file_status" style="background-image:url(./images/pic_160.png)">
                                <div class="weui-uploader__file-content">50%</div>
                            </li-->
                        </ul>
                        <div class="weui-uploader__input-box">
                            <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="weui-cells__title">申请人信息</div>

    <div class="weui-cells">
        <div class="weui-cell ">
            <div class="weui-cell__bd">
                <p>申请人姓名</p>
            </div>
            <div class="weui-cell__ft">
                <p id = "UserName">仲施平</p>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>申请人部门</p>
            </div>
            <div class="weui-cell__ft">
                <p id = "UserDept">信息中心</p>
            </div>
        </div>
    </div>

    <div class="weui-cells">
        <!--form action="/MaintainSys/src/php/AppFormHandle.php" method="post" id="form-xyy" enctype="multipart/form-data">

            <input type="submit" name="submit" class="weui-btn weui-btn_primary" onclick="submitAppForm()" value="提交">

        </form-->
        <a href="javascript:void(0)" class="weui-btn weui-btn_primary"onclick="submitAppForm(this)"><i class=""></i>提交</a>
    </div>


    <div class="weui-footer" style="margin-top:1.5rem;">
        <p class="weui-footer__links">
            <a href="" class="weui-footer__link">西北院公共设施报修管理系统</a>
        </p>
        <p class="weui-footer__text">Copyright ©2019 中国电建集团西北勘测设计研究院有限公司</p>
        <p class="weui-footer__text">技术支持：信息中心 联系人：仲施平 联系方式：029-88280321</p>
    </div>


</body>
</html>